<div class="flex flex-col space-y-5 text-base">
  <div (click)="copyToClipboard()" class="relative cursor-pointer font-normal  text-3xl"
    [ngClass]="crossOut && !hideBtns ? 'line-through text-gray-500' : textColor">
    {{sens}}

    <div [ngClass]="showCopyTooltip ? 'visible' : 'hidden'" class="absolute ease-out left-[21%] top-[120%]">
      <app-tooltip [text]="'Copied to clipboard!'"></app-tooltip>
    </div>
  </div>



  <div class="flex space-x-3">
    <button (click)="newSens()" class="bg-slate-800 hover:bg-green-700 px-10 py-1 rounded-full"
      [ngClass]="hideBtns ? 'invisible' : 'visible ease-out duration-200 '">
      Select
    </button>

    <button (click)="crossOutValue()" class="bg-slate-800 hover:bg-red-800  w-32 py-1 rounded-full"
      [ngClass]="hideBtns ? 'invisible' : 'visible ease-out duration-200'">
      {{crossOut ? 'Undo' : 'Discard'}}
    </button>
  </div>
</div>
